@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custum-spin: run 5s linear infinite;
}

.animate-spin2 {
  animation: spin2 7s linear infinite;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes spin2 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
